    <div class="card">
        <a class="card-link" routerLink="/tour/{{info.id}}">
            <div class="img-frame">
                <img src="{{ info.images[0].src }}" alt="" />
            </div>
            <div class="card__body">
                <div class="card__text">{{ info.distric }}</div>
                <div class="card__title">{{ info.name }}</div>
                <div class="card__text">{{ info.address }}</div>
                <div class="card__text icon">
                    <!-- <fa-icon [icon]="faTag"></fa-icon> -->
                    <span class="icon-24">
                        <img class="" src="../../../assets/images/icons/tag-24px.svg" alt="">
                    </span>
                    <span class="" *ngFor="let tag of tags">
                        {{ tag.name }}
                    </span>
                </div>
            </div>
        </a>
    </div>
