<div class="card-frame">
    <div class="card">
        <a routerLink="/tour/{{info.id}}">
            <div class="img-frame">
                <img src="{{ info.images[0].src }}" alt="" />
            </div>
            <div class="card__body">
                <div class="card__text">{{ info.distric }}</div>
                <div class="card__title">{{ info.name }}</div>
                <div class="card__text">{{ info.address }}</div>
                <div class="card__text">
                    <fa-icon [icon]="faTag"></fa-icon>
                    <span class="" *ngFor="let tag of tags">
                        {{ tag.name }}
                    </span>
                </div>
            </div>
        </a>
    </div>
</div>
