@import "../../scss/_style";

.carousel {
    margin-top: 12px;
    .slider {
        width: 100%;
        position: relative;
        overflow: hidden;
        .slider__btn {
            @include flex-center;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            height: 50px;
            width: 50px;
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 50%;
            z-index: 20;
            cursor: pointer;
            &.left {
                left: 0;
            }
            &.right {
                right: 0;
            }
        }
    }
    ul {
        position: absolute;
        @include flex-center;
        height: 100%;
        transition: 0.2s;
        li {
            width: 100vw;
            max-height: 540px;
            position: relative;
            > a {
                height: 100%;
                display: block;
            }
            .img-frame {
                position: relative;
                width: 100%;
                height: 100%;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    object-position: center;
                }
            }
            .slider-info {
                width: 100%;
                height: 50px;
                padding: 16px;
                position: absolute;
                bottom: 0;
                left: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.6);
                color: #fff;
                .name {
                    padding-top: 4px;
                    font-size: 1.3rem;
                }
            }
        }
    }
}
