@import "../../scss/_style";
.attraction {
    padding: 16px;
    .atrc__title {
        font-size: 1.75rem;
        font-weight: bold;
        color: $heavy-font-color;
        margin: 12px 0;
    }
    .atrc__header {
        display: flex;
        padding-bottom: 12px;
        > div {
            flex: 0 0 50%;
        }
        .header__item {
            color: $light-font-color;
            padding: 4px 0;
            display: flex;
            > div {
                flex: 0 0 80px;
            }
            > span {
                color: $font-color;
                padding: 0 4px;
            }
        }
        .header__left {
        }
        .header__right {
            padding: 0 16px;
            flex: 1 1 50%;
        }
    }
    .atrc__body {
        margin: 12px 0;
        .body__title {
            font-size: 1.2rem;
            font-weight: bold;
            color: $heavy-font-color;
        }
        .body__content {
            white-space: pre-wrap;
            font-size: 1.2rem;
        }
    }
}
@media screen and (max-width: 1080px) {
    .attraction {
        width: 80%;
        .atrc__header {
            display: block;
            .header__right {
                padding: 0;
                margin-top: 12px;
            }
        }
    }
}
