/* You can add global styles to this file, and also import other style files */
@import "./app/scss/_style";

html,
body {
    font-family: 微軟正黑體, "Microsoft JhengHei";
    width: 100%;
    height: 100%;
    margin: 0;
    color: $font-color;
    overflow: auto;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    &:active {
    }
}
img {
    width: 100%;
}
.font-bold {
    font-weight: bold;
    color: $heavy-font-color;
}

.container {
    max-width: 1080px;
    margin: auto;
}
